<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<!-- INDEX -->

<div class="w3-container w3-center">
1
2
3
</div>

<div class="w3-container w3-center">

<!-- NOTES 
<h2>Pagination Color</h2>
<p>Add a w3-color class to highlight the page the user is on:</p>
<p>Use w3-tiny, w3-small, w3-large, w3-xlarge, w3-xxlarge or w3-xxxlarge to size the pagination:</p>
<p>To center the pagination, wrap a div element with class="w3-center".</p>
<-- END NOTES --> 

<!-- Pages --

<div class="w3-bar w3-large">
	<p class="w3-xlarge w3-green">Requisition</p>
	<a href="/documents/atp" class="w3-button w3-red">ATP</a>
    <a href="/documents/req" class="w3-button w3-orange">Requisition</a>
    <a href="/documents/iotd" class="w3-button w3-yellow">IOTD</a>
    <a href="/documents/ex1" class="w3-button">Exhibit 1</a>
    <a href="/documents/ex5" class="w3-button">Exhibit 5</a>

	<p class="w3-xlarge w3-green">Bid Tab</p>
    <ul class="w3-orange">
	<a href="/main/cover" class="w3-button w3-red">Cover</a>
    <a href="/main/commercial" class="w3-button">Commercial</a>
    <a href="/main/technical" class="w3-button">Technical</a>
    </ul>
	<p class="w3-xlarge w3-green">Bid Tab</p>
    <ul class="w3-orange">
	<a href="/main/cover" class="w3-button">Cover</a>
    <a href="/main/commercial" class="w3-button">Commercial</a>
    <a href="/main/technical" class="w3-button">Technical</a>
    </ul>

</div>
<-- END PAGES -->
</div>
</body>
</html>
