<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Optional Bootstrap Theme -->
<link href="data:text/css;charset=utf-8," data-href="css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
<!-- Documentation extras -->
<link href="css/docs.min.css" rel="stylesheet">
<TITLE>Authorization to Purchase</TITLE>
</HEAD>
<BODY>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=22 >
<TD WIDTH=384  ALIGN=LEFT > <BR></TD><TD WIDTH=336  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:14pt FACE="Arial" COLOR=#000000>AUTHORIZATION FOR </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=20 >
<TD WIDTH=384  ALIGN=LEFT > <BR></TD><TD WIDTH=336  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:14pt FACE="Arial" COLOR=#000000>PURCHASE</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=19 >
<TD WIDTH=736  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:12pt FACE="Arial" COLOR=#000000>Baton Rouge, LA</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=720  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>Marathon Petroleum Company, LLC - Garyville, LA</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=720  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>Sulfur Degassing Project          Project Number 07-QJ76-40</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=168  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>REQUISITION STATUS:</FONT></B></TD>
<TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>       </FONT></B></TD>
<TD WIDTH=256  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>SUGGESTED BIDDERS:</FONT></B></TD>
<TD WIDTH=112  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>AWARD TO:</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=20>
<TD WIDTH=30  ALIGN=CENTER >
<div class="input-group">
<span class="input-group-addon">
<input type="checkbox">
</span></TD>
<TD WIDTH=150  ALIGN=LEFT  BGCOLOR=#FFFFFF><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>
<div class="input-group">
<span class="input-group-addon">
<input type="textbox"></span></FONT></TD>
<TD WIDTH=48  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  DATE:</FONT></TD>
<TD WIDTH=152  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>4/5/2018</FONT></B></TD>
<TD WIDTH=256  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>FABEX, Inc.</FONT></TD>
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  </FONT></TD>
<TD WIDTH=96  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=20>
<TD WIDTH=30  ALIGN=CENTER >
<div class="input-group">
<span class="input-group-addon">
<input type="checkbox">
</span></TD>
<TD WIDTH=150  ALIGN=LEFT  BGCOLOR=#FFFFFF><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>
<div class="input-group">
<span class="input-group-addon">
<input type="textbox"></span></FONT></TD>
<TD WIDTH=48  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  DATE:</FONT></TD>
<TD WIDTH=152  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>7/9/2018</FONT></B></TD>
<TD WIDTH=256  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Contract Fabricators, Inc.</FONT></TD>
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  </FONT></TD>
<TD WIDTH=96  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=168  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  DATE:</FONT></TD>
<TD WIDTH=256  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Modern Welding Company</FONT></TD>
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  </FONT></TD>
<TD WIDTH=96  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=168  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  DATE:</FONT></TD>
<TD WIDTH=256  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Volks Constructors</FONT></TD>
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  </FONT></TD>
<TD WIDTH=96  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=168  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  DATE:</FONT></TD>
<TD WIDTH=256  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>PALA Interstate, LLC</FONT></TD>
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  </FONT></TD>
<TD WIDTH=96  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=168  ALIGN=LEFT > <BR></TD><TD WIDTH=456  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  DATE:</FONT></TD>
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>  </FONT></TD>
<TD WIDTH=96  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=168  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>REQUISITION NO.:</FONT></B></TD>
<TD WIDTH=240  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>07-QJ76-60-R13-0001 Rev. 0</FONT></B></TD>
<TD WIDTH=116  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>DATE ISSUED:</FONT></B></TD>
<TD WIDTH=196  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>7/9/2018</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=96  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>REQ. DESC.:</FONT></B></TD>
<TD WIDTH=640  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>New Pressure Vessels</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=480  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>VENDOR:</FONT></B></TD>
<TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>P.O. No:</FONT></B></TD>
<TD WIDTH=180  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=384  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>QUOTED PRICE INCLUDING ALL RECOMMENDED OPTIONS:</FONT></B></TD>
<TD WIDTH=336  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:11pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Tahoma" COLOR=#000000>Total Factored Budget</FONT></B></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
<TD WIDTH=16  ALIGN=LEFT > <BR></TD><TD WIDTH=352  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Required Delivery Date:</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Previously Approved </FONT></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></TD>
<TD WIDTH=16  ALIGN=LEFT > <BR></TD><TD WIDTH=180  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Field Need Date:</FONT></TD>
<TD WIDTH=172  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Bid Due Date:</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Base (this ATP)</FONT></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></TD>
<TD WIDTH=16  ALIGN=LEFT > <BR></TD><TD WIDTH=352  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Cost Code:</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=23 >
<TD WIDTH=44  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>0.00</FONT></B></TD>
<TD WIDTH=216  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>% Est. Frt/Shipping (This ATP)</FONT></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></TD>
<TD WIDTH=16  ALIGN=LEFT > <BR></TD><TD WIDTH=352  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Selection Method:</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=44  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>0.00</FONT></B></TD>
<TD WIDTH=216  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>% Sales Tax (This ATP)</FONT></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Total Base (This ATP)</FONT></B></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
<TD WIDTH=44  ALIGN=LEFT > <BR></TD><TD WIDTH=324  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Competitive Bid (3 Responsive, Competitive </FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=412  ALIGN=LEFT > <BR></TD><TD WIDTH=324  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Negotiated Bid (2 or Less Responsive, Comp. </FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=20 >
<TD WIDTH=44  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>0.00</FONT></B></TD>
<TD WIDTH=216  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>% P.O. Growth (this ATP)</FONT></B></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
<TD WIDTH=44  ALIGN=LEFT > <BR></TD><TD WIDTH=324  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Single Source</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Approved Amount (This ATP)</FONT></B></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
<TD WIDTH=44  ALIGN=LEFT > <BR></TD><TD WIDTH=324  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Additional Signature Required</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=19 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Total Approved Amount (All ATP's)</FONT></B></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
<TD WIDTH=16  ALIGN=LEFT > <BR></TD><TD WIDTH=216  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>P.O. Value Issued To Date:</FONT></B></TD>
<TD WIDTH=120  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=384  ALIGN=LEFT > <BR></TD><TD WIDTH=216  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>This Requisition Value:</FONT></B></TD>
<TD WIDTH=120  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=20 >
<TD WIDTH=260  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>Delta (Total All ATP's vs Budget)</FONT></TD>
<TD WIDTH=108  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>$0.00</FONT></TD>
<TD WIDTH=16  ALIGN=LEFT > <BR></TD><TD WIDTH=216  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Total Value Including This Req'n:</FONT></B></TD>
<TD WIDTH=120  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>$0.00</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=10  ALIGN=LEFT > <BR></TD><TD WIDTH=116  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>ATP Comment:</FONT></B></TD>
<TD WIDTH=604  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000> </FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=6  ALIGN=LEFT > <BR></TD><TD WIDTH=730  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>Special Instructions:</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=19 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>ISSUE NO.:</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:12pt FACE="Arial" COLOR=#000000>C</FONT></B></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:12pt FACE="Arial" COLOR=#000000>0</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>REQUISITIONER</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Smith</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>C. Crader</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>DISCIPLINE LEAD</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Smith</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Smith</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>PROJECT ENGINEER*</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P. Wood</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P. Wood</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>PROJECT MANAGER*</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>S. Mudliar</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>S. Mudliar</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=210  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>EXECUTIVE PROJ. MANAGER</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>S. Worsham</FONT></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>S. Worsham</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>MANAGER OF OPERATIONS</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>M. Autherment</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>M. Autherment</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>BUYER</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>C. Anderson</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>C. Anderson</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>CLIENT PROCUREMENT</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Accardo</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Accardo</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>MATERIAL CONTROL</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Comeaux</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>J. Comeaux</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>COST</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>B. Waldrop</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>B. Waldrop</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>SCHEDULE</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>B. Waldrop</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>B. Waldrop</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>CLIENT PROJ. ENGINEER</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>N/A</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>N/A</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=16 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=200  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Arial" COLOR=#000000>CLIENT PROJ. MANAGER</FONT></B></TD>
<TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P. Volpe</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P. Volpe</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=199  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>APPROVED FOR:</FONT></B></TD>
<TD WIDTH=0  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Approval / Inquiry</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Purchase</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=199  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>DATE</FONT></B></TD>
<TD WIDTH=0  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4/5/2018</FONT></TD>
<TD WIDTH=1  ALIGN=LEFT > <BR></TD><TD WIDTH=86  ALIGN=CENTER  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>7/9/2018</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=732  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:9pt FACE="Arial" COLOR=#000000>NOTE:* If a change has been made, additional signatures required.</FONT></TD>
</TR>
</TABLE>

</BODY>
</HTML> 